body {
  margin: 0px;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.card {
  width: 18rem;
  margin-left: 1vw;
  margin-top: 10vh;
}

img {
  object-fit: cover;
}

button:hover {
  transform: scale(1.1);
  transition: 0.3s ease;
  
}



.tbody {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.table > :not(caption) > * > * {
  padding-top: 50px;
}

.cell {
  cursor: pointer;
  user-select: none;
  padding: none;

  height: 150px;
  width: 100px;
  font-size: xx-large;
  text-align: center;
  padding-top: 0;
}
