body{
    margin: 0px;
    overflow-x: hidden;
}

a{
    text-decoration: none;
}

.card{
    width: 18rem;
    margin-left: 1vw;
    margin-top: 10vh;
}

img{
    object-fit: cover;
}


button{
    margin-top: 1vh;
}